.Mrs_Stockmann {
    color: black;
     width: 8%;
    font-family: "Times New Roman", Times, serif;
  }
  .PeterStockmann {
    color: black;
    width: 10%;
    font-family: Georgia, serif;
  }
  .Mrs_Stockmann:hover {
    text-shadow:2px 2px 4px hotpink;
    border: 2px solid;
    cursor: pointer;
}
 
  .PeterStockmann:hover {
    text-shadow:2px 2px 4px  darkmagenta;
    border: 2px solid;
    cursor: pointer;

  }

  .direction {
    color: black;
    font-size: 12px;
    width: 20%;
    background-color:oldlace ;
    font-family: Georgia, serif;
  }
  .direction:hover{

    background-color: slategrey;

    color: navajowhite;

}
  .speech {
    color: black;
    font-size: 13px;
    width: 40%;
    background-color: lightblue;
    font-family: Georgia, serif;
  }

 