.Mrs_Stockmann {
    color: black;
    background-color: #5F9EA0; 
    font-family: "Times New Roman", Times, serif;
  }
  .PeterStockmann {
    color: black;
    background-color: yellowgreen;
    font-family: Georgia, serif;
  }